<section class="bg-footer position-relative z-index-1000 no-computer shadow" style="height: 214px; padding: 36px 0px;">

    <div *ngIf="someFullModalIsOpen" class="position-absolute w-100 bg-modal"
        style="height: 100%; z-index: 1010; margin-top: -36px !important;">
    </div>

    <div class="container d-flex justify-content-between">

        <div>

            <img src="./assets/imgs/logo.svg" class="mb-5">

            <div class="d-flex gap-4 pt-3">

                <div class="d-flex gap-2">

                    <p class="fw-400 f-size-16px letter-spacing-footer white position-relative" style="bottom: 3.5px">©
                    </p>
                    <p class="fw-400 f-size-12px letter-spacing-footer white">Portal do Bolsista 2024</p>

                </div>

                <p class="fw-400 f-size-12px letter-spacing-footer white" (click)="openModalPp()">Política de Privacidade</p>
                <p class="fw-400 f-size-12px letter-spacing-footer white" (click)="openModalSeguranca()">Segurança de Dados</p>
                <p class="fw-400 f-size-12px letter-spacing-footer white" (click)="openModalTermosDeUso()">Termos de Uso</p>

            </div>

        </div>

        <div>

            <p class="white fw-400 f-size-14px mb-3">Fale Conosco</p>
            <div class="d-flex gap-4 pb-4">

                <a href="https://whatsa.me/5511985913781" target="_blank"><img src="./assets/icons/whatsapp.svg"></a>
                <!-- https://whatsa.me/5511985913781 -->

                <a href="mailto:contato@portaldobolsista.org" target="_blank"><img src="./assets/icons/email.svg"></a>
                <!-- mailto:contato@portaldobolsista.org -->


            </div>

            <p class="white fw-400 f-size-14px mb-3">Siga-nos nas redes sociais</p>
            <div class="d-flex gap-4">

                <a href="https://www.instagram.com/portaldobolsista?igsh=MXZtdGh1aHkycnV0Ng==" target="_blank"><img
                        src="./assets/icons/instagram.svg"></a>
                <!-- https://www.instagram.com/portaldobolsista?igsh=MXZtdGh1aHkycnV0Ng== -->

                <a href="https://www.tiktok.com/@portaldobolsista?_t=ZM-8tJFm9sGwek&_r=1" target="_blank"><img
                        src="./assets/icons/tiktok.svg"></a>
                <!-- https://www.tiktok.com/@portaldobolsista?_t=ZM-8tJFm9sGwek&_r=1 -->

                <a href="https://x.com/PortalBolsista?t=LZkhq6ILQyB-bi4VhnHg4A&s=09" target="_blank">
                    <img src="./assets/icons/icon-x.svg"></a>

                <a href="https://www.linkedin.com/company/75012636/" target="_blank"><img src="./assets/icons/icon-linkedin.svg"></a>




            </div>

        </div>

    </div>

</section>


<section class="bg-footer-cellphone py-4 position-relative z-index-1000 no-cellphone shadow" style="height: 356px;">

    <div class="px-4">

        <div class="d-flex justify-content-center align-items-center pt-4">

            <img src="./assets/imgs/logo.svg" class="mb-5">

        </div>

        <div class="d-flex justify-content-center gap-4">

            <p class="fw-400 footer-size letter-spacing-footer white" (click)="openModalPp()">Política de Privacidade</p>
            <p class="fw-400 footer-size letter-spacing-footer white" (click)="openModalSeguranca()">Segurança de Dados</p>
            <p class="fw-400 footer-size letter-spacing-footer white" (click)="openModalTermosDeUso()">Termos de Uso</p>

        </div>

        <div class="d-flex justify-content-between" style="padding-top: 36px;">

            <div>

                <p class="white fw-400 f-size-14px mb-3">Fale Conosco</p>
                <div class="d-flex justify-content-start gap-4">


                    <a style="color: aliceblue;" href="hhttps://whatsa.me/5511985913781" target="_blank"><img
                            src="./assets/icons/whatsapp.svg"></a> <!-- https://whatsa.me/5511985913781 -->
                    <a style="color: aliceblue;" href="mailto:contato@portaldobolsista.org" target="_blank"><img
                            src="./assets/icons/email.svg"></a> <!-- mailto:contato@portaldobolsista.org -->


                </div>

            </div>

            <div>

                <p class="white fw-400 f-size-14px mb-3">Siga-nos nas redes sociais</p>
                <div class="d-flex justify-content-end gap-4">

                    <a style="color: aliceblue;"
                        href="https://www.instagram.com/portaldobolsista?igsh=MXZtdGh1aHkycnV0Ng==" target="_blank"><img
                            src="./assets/icons/instagram.svg"></a>
                    <!-- https://www.instagram.com/portaldobolsista?igsh=MXZtdGh1aHkycnV0Ng== -->
                    <a style="color: aliceblue;" href="https://www.tiktok.com/@portaldobolsista?_t=ZM-8tJFm9sGwek&_r=1"
                        target="_blank"><img src="./assets/icons/tiktok.svg"></a>
                    <!-- https://www.tiktok.com/@portaldobolsista?_t=ZM-8tJFm9sGwek&_r=1 -->


                </div>

            </div>

        </div>

        <div class="d-flex justify-content-center" style="padding-top: 36px;">

            <div class="d-flex gap-2">

                <p class="fw-400 f-size-16px letter-spacing-footer white position-relative" style="bottom: 3.5px">©</p>
                <p class="fw-400 f-size-12px letter-spacing-footer white">Portal do Bolsista 2024</p>

            </div>

        </div>

    </div>

</section>