<div class="bg-white modal-size pt-4 px-3">

    <div class="d-flex justify-content-between">

        <span class="f-size-20px fw-400 secundary-text">Política de privacidade</span>
        <img src="./assets/icons/x-red.svg" (click)="closeModal()">


    </div>

    <p>Política de Privacidade
A proteção e o respeito à privacidade dos usuários são fundamentais para o Portal do Bolsista. Ao acessar e utilizar nossos serviços, você confia a nós suas informações, e nos comprometemos a usá-las com transparência e ética. Esta Política de Privacidade descreve como coletamos, utilizamos, armazenamos, protegemos e compartilhamos suas informações pessoais e explica os direitos e escolhas que você tem sobre seus dados.
Por favor, leia atentamente esta Política para entender nossas práticas de tratamento de dados pessoais e como garantimos sua privacidade ao utilizar o Portal do Bolsista.
1. Informações Coletadas
Coletamos diferentes tipos de informações para oferecer, melhorar e personalizar nossos serviços, além de atender a exigências legais.
1.1 Informações Fornecidas pelo Usuário
Quando você cria uma conta ou interage conosco, pode fornecer informações que incluem:
Dados de Cadastro: Nome completo, CPF ou CNPJ, endereço de e-mail, número de telefone, endereço residencial ou comercial, informações socioeconômicas, acadêmicas e outras informações essenciais para criar sua conta e oferecer um acesso seguro à plataforma.
Documentação e Comprovações: Documentos para validar elegibilidade, como cartão de CNPJ, Registro de Alvará ou Licença de Funcionamento, Reconhecimento MEC, comprovante de renda ou histórico acadêmico, caso aplicável.
Informações de Comunicação: Dados fornecidos em comunicações com nosso suporte, como dúvidas, feedbacks e solicitações.
Preferências de Bolsa de Estudos: Critérios específicos de elegibilidade, interesses e preferências para que possamos exibir oportunidades relevantes e personalizadas.
Dados Informados em Denúncias: Informações fornecidas voluntariamente pelo usuário ao realizar uma denúncia na plataforma, como descrição do caso, anexos e eventuais dados pessoais de terceiros envolvidos. O usuário poderá optar por realizar denúncias anônimas, caso não queira se identificar. Esses dados serão tratados com sigilo e utilizados exclusivamente para análise e providências cabíveis, respeitando a legislação vigente.
1.2 Informações Coletadas Automaticamente
Durante o uso do Portal, coletamos automaticamente informações sobre sua navegação para otimizar sua experiência e aprimorar nossos serviços:
Dados do Dispositivo: Incluem endereço IP (coletado e armazenado de forma anônima), tipo e configurações do navegador, sistema operacional, resolução de tela, idioma preferido e identificadores exclusivos do dispositivo.
Cookies e Tecnologias Semelhantes: Utilizamos cookies e outras tecnologias de rastreamento para armazenar preferências, analisar padrões de navegação e aprimorar a experiência do usuário, conforme descrito na seção de Cookies.
Atividade de Navegação e Interação: Coletamos dados sobre páginas visitadas, tempo de permanência, cliques, movimentos do mouse, rolagem de página e interações com elementos da interface. Esses dados nos ajudam a entender como os usuários utilizam a plataforma e a identificar melhorias na usabilidade e acessibilidade.
Dados de Localização: Coletamos informações sobre sua localização geográfica, limitando-se ao país, para entender a distribuição geográfica de nossos usuários e adaptar nossos serviços conforme necessário.
Registro de Sessões e Mapas de Calor: Utilizamos ferramentas como o Hotjar para capturar interações anônimas, registrando padrões de comportamento para análise da experiência do usuário. Nenhuma informação sensível ou que identifique pessoalmente o usuário é coletada nesses registros.
Essas informações são armazenadas em perfis de usuário pseudonimizados e são utilizadas exclusivamente para análises internas, visando melhorar a qualidade e a relevância de nossos serviços.
1.3 Dados de Terceiros
O Portal do Bolsista também pode receber informações de instituições e programas de bolsas de estudo, as quais utilizamos para exibir as oportunidades mais completas e precisas aos usuários:
Instituições de Ensino e Programas de Bolsas: Recebemos dados sobre bolsas, critérios de elegibilidade, requisitos, datas e disponibilidade diretamente das instituições. O Portal do Bolsista atua apenas como um facilitador do acesso, não se responsabilizando por alterações ou inconsistências.
2. Como Utilizamos Suas Informações
Os dados coletados são usados com as seguintes finalidades:
Fornecimento dos Serviços: Para permitir o acesso à plataforma, exibir oportunidades de bolsas adequadas ao perfil do usuário, e processar interações de forma personalizada e segura.
Melhoria Contínua e Análise: Analisar o uso do Portal para aprimorar funcionalidades, resolver problemas e ajustar serviços de acordo com o feedback e necessidades dos usuários.
Comunicações e Notificações: Entrar em contato sobre atualizações, serviços, suporte e responder a suas dúvidas.
Cumprimento Legal e Regulatório: Atender a requisitos legais e regulamentares relativos ao tratamento e armazenamento dos dados pessoais.
Pesquisas e Estudos: Analisar dados agregados e anônimos para desenvolver insights sobre o uso da plataforma e aperfeiçoar nossos serviços e recursos.
3. Cookies e Tecnologias Semelhantes
Utilizamos cookies e outras tecnologias semelhantes para melhorar a experiência do usuário, permitindo personalizações e armazenando preferências. Abaixo, detalhamos os tipos de cookies utilizados e suas funcionalidades.
3.1 Tipos de Cookies Utilizados
Cookies Essenciais: Necessários para o funcionamento do Portal e para autenticar logins.
Cookies de Desempenho: Ajudam a entender a navegação e o uso do Portal, permitindo-nos melhorar nossos serviços com base nessas informações.
Cookies de Publicidade: Personalizam a experiência do usuário com conteúdos e anúncios, de acordo com seu comportamento e preferências.
3.2 Gerenciamento de Cookies
Você pode ajustar as configurações de cookies em seu navegador para aceitar, rejeitar ou remover cookies específicos. No entanto, a remoção ou desativação de cookies pode limitar o funcionamento de algumas funcionalidades do Portal do Bolsista.
4. Compartilhamento de Informações
O Portal do Bolsista compromete-se a não compartilhar dados pessoais com terceiros, exceto em situações necessárias e conforme as permissões legais:
Instituições Parceiras e Provedores de Bolsa: Compartilharemos dados específicos quando for necessário para conectar o usuário com instituições de ensino ou programas de bolsas, desde que autorizado.
Prestadores de Serviço: Fornecedores que nos ajudam na execução do serviço (como provedores de hospedagem e análise de dados) têm acesso a dados apenas para essas finalidades e respeitam nossa Política de Privacidade.
Cumprimento de Obrigações Legais: Podemos compartilhar dados para atender solicitações governamentais, ordens judiciais e outras demandas legais e regulatórias.
5. Segurança das Informações
A segurança de seus dados é nossa prioridade. Implementamos medidas técnicas e administrativas rigorosas para proteger suas informações pessoais de acessos não autorizados, divulgação indevida e alterações. Entre as práticas adotadas:
Criptografia: Utilizamos criptografia para proteger informações sensíveis em trânsito e armazenamento.
Controles de Acesso: Apenas funcionários e prestadores autorizados e capacitados podem acessar os dados, exclusivamente para finalidades específicas.
Monitoramento e Auditorias: Monitoramos continuamente nossos sistemas de segurança e realizamos auditorias regulares para detectar e corrigir vulnerabilidades.
6. Direitos dos Usuários
O Portal do Bolsista respeita os direitos dos usuários conforme a Lei Geral de Proteção de Dados (LGPD). Como usuário, você pode:
Acessar e Solicitar Informações: Solicitar confirmação sobre o tratamento de seus dados pessoais e acessar cópias.
Corrigir ou Atualizar Dados: Atualizar informações incorretas ou incompletas.
Excluir, Anonimizar ou Bloquear Dados: Solicitar a exclusão, anonimização ou bloqueio de dados tratados em desconformidade com a legislação.
Revogar Consentimento: Retirar o consentimento fornecido para o tratamento de dados, o que poderá afetar o uso de certos serviços.
Portabilidade de Dados: Solicitar a transferência de seus dados para outra plataforma, conforme permitido pela lei.
Para exercer seus direitos, entre em contato conosco pelo e-mail contato&#64;portaldobolsista.org
7. Retenção de Dados
Armazenamos os dados pelo tempo necessário para cumprir as finalidades descritas nesta Política de Privacidade, ou conforme exigido por lei. Uma vez atingida a finalidade ou expirada a exigência legal, os dados são excluídos ou anonimizados de forma segura. Realizamos avaliações regulares para determinar os períodos de retenção adequados para cada categoria de dados coletados.
8. Transferência Internacional de Dados
Em algumas circunstâncias, podemos transferir dados para servidores ou parceiros localizados fora do Brasil. Neste caso, asseguramos que todos os processos de tratamento respeitem a legislação brasileira, aplicando práticas de proteção e segurança equivalentes às exigidas pela LGPD.
9. Alterações a Esta Política de Privacidade
Podemos revisar e atualizar esta Política de Privacidade periodicamente para refletir mudanças na legislação ou em nossos serviços. Em caso de alterações significativas, notificaremos os usuários por meio de avisos na plataforma ou comunicações via e-mail. A data da última atualização estará sempre disponível no início do documento.
10. Canal de Comunicação e Informações de Contato
Para dúvidas, solicitações ou questões sobre esta Política de Privacidade, entre em contato com o responsável pelo tratamento de dados através do e-mail contato&#64;portaldobolsista.org

Seção Específica de Denúncias
O Portal do Bolsista disponibiliza um Canal de Denúncias para que usuários reportem práticas inadequadas ou irregulares nas ofertas de bolsas de estudo. No caso de programas federais, como PROUNI e CEBAS Educação, o Portal do Bolsista encoraja os usuários a reportarem inconsistências que observem em relação à legislação vigente. As denúncias registradas podem ser encaminhadas às autoridades competentes para apuração e providências, se aplicável.

Ao utilizar o Portal do Bolsista, você confirma que leu, compreendeu e concorda com os termos desta Política de Privacidade.


    </p>

</div>

