<div class="bg-white modal-size pt-4 px-3">

    <div class="d-flex justify-content-between">

        <span class="f-size-20px fw-400 secundary-text">Política de segurança de dados</span>
        <img src="./assets/icons/x-red.svg" (click)="closeModal()">


    </div>

    <p>Política de Segurança de Dados
        1. Introdução
        A Política de Segurança de Dados do Portal do Bolsista estabelece as diretrizes e os padrões para proteger a integridade, a confidencialidade e a disponibilidade dos dados dos usuários, colaboradores e parceiros. Este documento rege todas as práticas, responsabilidades e processos de segurança de dados adotados pela plataforma, visando mitigar riscos de violações de dados e garantir a conformidade com as regulamentações aplicáveis.
        2. Objetivo
        O objetivo desta política é assegurar que o Portal do Bolsista mantenha os mais altos padrões de segurança de dados, protegendo informações pessoais e financeiras por meio de métodos de criptografia, controle de acesso e auditorias. Além disso, esta política visa reforçar a privacidade dos usuários e garantir conformidade com regulamentações como a Lei Geral de Proteção de Dados (LGPD) e outras normas nacionais e internacionais.
        3. Responsabilidades
        3.1 Equipe de Segurança de Dados
        A equipe de segurança de dados é responsável pela implementação e manutenção das medidas de segurança. Suas funções incluem:
        Desenvolvimento e atualização de políticas e procedimentos de segurança;
        Monitoramento contínuo da segurança de dados e sistemas de proteção;
        Coordenação de respostas a incidentes de segurança e reporte à alta administração.
        4.2 Equipe Executiva
        A equipe executiva apoia a cultura de segurança de dados e garante a alocação dos recursos necessários. Suas responsabilidades incluem:
        Estabelecer estratégias de segurança de dados alinhadas aos objetivos da organização;
        Apoiar a equipe de segurança em ações estratégicas e decisões críticas;
        Reforçar a importância da política de segurança de dados entre colaboradores e prestadores de serviço.
        4.3 Colaboradores e Prestadores de Serviço
        Todos os colaboradores e prestadores de serviço têm a responsabilidade de:
        Cumprir rigorosamente esta política e relatar incidentes de segurança;
        Proteger informações confidenciais de acordo com as práticas de segurança;
        Participar de treinamentos de segurança de dados e aplicar o conhecimento adquirido.
        5. Proteção de Dados Pessoais
        5.1 Coleta e Processamento de Dados Pessoais
        O Portal coleta e processa dados pessoais de forma transparente, comunicando aos usuários as finalidades de uso e respeitando seu direito à privacidade.
        Todos os dados pessoais são tratados em conformidade com a LGPD, incluindo consentimento explícito dos titulares, quando aplicável.
        5.2 Gerenciamento de Acessos a Dados Pessoais
        O acesso a dados pessoais é restrito a colaboradores autorizados que precisam da informação para o desempenho de suas funções.
        Medidas de autenticação e controle de acesso são aplicadas para assegurar que apenas pessoas autorizadas tenham acesso aos dados.
        5.3 Direitos dos Titulares de Dados
        Usuários têm o direito de acessar, corrigir, e, quando necessário, excluir seus dados pessoais.
        A plataforma deve responder prontamente a solicitações de titulares de dados, em conformidade com as regulamentações de privacidade.
        6. Conformidade com Regulamentações
        6.1 Lei Geral de Proteção de Dados (LGPD)
        O Portal do Bolsista está comprometido em cumprir integralmente a LGPD, incluindo práticas de consentimento explícito e nomeação de um Encarregado de Proteção de Dados (DPO).
        Processos e práticas de segurança de dados são ajustados para atender as diretrizes da LGPD.
        6.2 Regulamentações Internacionais e Locais
        Além da LGPD, a equipe de conformidade monitora e garante a adesão a outras regulamentações relevantes, ajustando práticas e políticas conforme necessário.
        7. Plano de Resposta a Incidentes
        7.1 Definição e Classificação de Incidentes
        Incidentes de segurança são definidos como qualquer evento que comprometa a integridade, confidencialidade ou disponibilidade dos dados.
        Incidentes são categorizados de acordo com a gravidade e o impacto potencial para permitir respostas rápidas e apropriadas.
        7.2 Procedimentos de Notificação
        O Portal tem procedimentos de notificação claros para comunicar autoridades regulatórias e titulares de dados sobre incidentes de segurança, respeitando os prazos legais.
        7.3 Mitigação e Recuperação
        A equipe de segurança coordena ações para mitigar incidentes e proteger a integridade dos dados.
        Planos de contingência são implementados para garantir a continuidade das operações.
        8. Treinamento em Segurança de Dados
        8.1 Treinamento Inicial
        Todos os colaboradores passam por um treinamento inicial que cobre políticas, procedimentos e regulamentações de segurança de dados.
        8.2 Treinamento Contínuo
        Treinamentos contínuos são realizados para manter os colaboradores atualizados e cientes das melhores práticas de segurança.
        9. Monitoramento e Auditoria
        9.1 Monitoramento de Segurança
        A segurança dos dados é constantemente monitorada por meio de ferramentas de detecção de intrusões e sistemas de controle de acesso.
        Alertas e anomalias são prontamente investigados pela equipe de segurança.
        9.2 Auditoria Interna de Segurança de Dados
        Auditorias internas regulares são realizadas para avaliar a eficácia das práticas de segurança e identificar oportunidades de melhoria.
        9.3 Auditoria Externa de Segurança de Dados
        Auditorias externas independentes garantem que o Portal do Bolsista atenda aos padrões de segurança e conformidade aplicáveis.
        10. Revisão e Atualização da Política
        Esta política será revisada periodicamente para refletir a evolução das regulamentações e as melhores práticas de segurança de dados.
        Atualizações são comunicadas a todos os colaboradores e parceiros, assegurando conformidade contínua.
        11. Documentação e Arquivamento
        Todos os registros de segurança de dados, incluindo relatórios de auditoria e treinamentos, são documentados e arquivados de acordo com as regulamentações aplicáveis.
        12. Conclusão
        A segurança de dados é uma prioridade para o Portal do Bolsista. A proteção das informações dos usuários e a conformidade com regulamentações estabelecem uma base sólida para a segurança e privacidade dos dados. A colaboração de todos os colaboradores e prestadores de serviços é essencial para manter a integridade e a confiança nos serviços oferecidos pelo Portal.
        
        

    </p>

</div>

