<div *ngIf="openModalDownloadApp" class="d-flex justify-content-center toComputer">

    <div class="bg-white d-flex justify-content-between align-items-center position-absolute gap-5"
    style="z-index: 1006; border-radius: 15px; top: 34vh; padding: 72px;">

        <img src="./assets/imgs/qrcode-iphone.svg" width="170px" height="236px">
        <img src="./assets/imgs/qrcode-android.svg" width="170px" height="236px">

    </div>

</div>

<div *ngIf="openModalDownloadApp" class="d-flex justify-content-center toCellphone">

    <div class="bg-white d-flex justify-content-between align-items-center px-3 py-4 position-absolute gap-4"
    style="top: 30%; z-index: 1006; border-radius: 15px;">

        <img src="./assets/imgs/qrcode-iphone.svg" width="135px" height="187px">
        <img src="./assets/imgs/qrcode-android.svg" width="135px" height="187px">

    </div> 

</div>